# -*- conf -*-
# Duplicated in other App Engine project repos: Bridgy, Bridgy Fed, granary,
# oauth-dropins, etc. If you make a change here, change them too!
#
# https://cloud.google.com/appengine/docs/standard/python/config/appref#Python_app_yaml_Includes

*.bak
*.c
*.cc
*.cpp
*.h
*.o
*.pyc
*.pyo
*.so
.git*

.coverage/
.git*/
coverage/
debian/
doc/
docs/
example/
examples/
l/
l3/
local/
local3/
pydoc/
pydocs/
python3/
RCS/
ref/
sample/
samples/
TAGS
TAGS/
test/
tests/

# drop if this doesn't break gcloud app deploy?
# script (dev).tmpl
