.coverage
/.well-known/acme-challenge/
/docs/_build/
/l
/local*/
/mapreduce
circleci_token
datastore.dat*
disqus_access_token
disqus_api_*
facebook_app_*
facebook_test_user_access_token
fake_service_account.json
flickr_app_*
github-app*.private-key.pem
github_app_client_*
github_client_*
google_client_*
instagram_client_*
instagram_scrape_*
instagram_sessionid_cookie
linkedin_client_*
medium_client_*
meetup_client_*
private_notes
reddit_app_*
service_account_creds.json
superfeedr_token
superfeedr_username
TAGS
tumblr_app_*
twitter_access_token_*
twitter_app_*
twitter_scrape_headers*
wordpress.com_client_*
