.coverage
/.well-known/acme-challenge/
/docs/_build/
/l
/local
/mapreduce
datastore.dat*
disqus_access_token
disqus_api_*
facebook_app_*
facebook_test_user_access_token
flickr_app_*
github-app*.private-key.pem
github_app_client_*
github_client_*
google_client_*
instagram_client_*
instagram_scrape_base
instagram_sessionid_cookie
linkedin_client_*
medium_client_*
private_notes
superfeedr_token
superfeedr_username
TAGS
tumblr_app_*
twitter_access_token_*
twitter_app_*
wordpress.com_client_*
