[submodule "webutil"]
	path = webutil
	url = git@github.com:snarfed/webutil.git
[submodule "tweepy_submodule"]
	path = tweepy_submodule
	url = git://github.com/tweepy/tweepy.git
[submodule "httplib2_module"]
	path = httplib2_module
	url = git@github.com:adamjmcgrath/httplib2.git
[submodule "google-api-python-client"]
	path = google-api-python-client
	url = git@github.com:fmoga/google-api-python-client.git
