alabaster==0.7.6
altgraph==0.10.2
argh==0.26.1
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
beautifulsoup4==4.3.2
bonjour-py==0.3
boto==2.39.0
-e git+https://github.com/snarfed/brevity.git@d5cdaa4b279d69dec45e2b29c6a0c337979bcc7d#egg=brevity
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
coverage==4.0.3
coveralls==1.1
crcmod==1.7
decorator==4.0.10
docopt==0.6.2
docutils==0.12
flake8==2.5.2
flake8-polyfill==1.0.1
gcalcli==3.3.2
gcs-oauth2-boto-plugin==1.8
-e git+git@github.com:snarfed/gdata-python-client-1.git@e1404ec0724a0f603dfc24841eada6d284b60f0e#egg=gdata
-e git+git@github.com:snarfed/google-api-python-client.git@bdf5ea84a514c95f0d381d1d5bdb0464e246ff75#egg=google_api_python_client
-e git+git@github.com:snarfed/granary.git@8e43f1244ea8c89100e25f42280cc98f43fcb0d5#egg=granary
html2text==2016.9.19
html5lib==0.9999999
httplib2==0.10.3
humanize==0.5.1
idna==2.6
Jinja2==2.10
livereload==2.4.0
macholib==1.5.1
mando==0.6.4
MarkupSafe==1.0
matplotlib==1.3.1
mccabe==0.4.0
mf2py==1.0.4
mf2util==0.5.0
modulegraph==0.10.4
nose==1.3.7
numpy==1.8.0rc1
-e git+git@github.com:snarfed/oauth-dropins.git@0de5f2da6fbf345ceea262d23f9e40576e6ce7db#egg=oauth_dropins
oauth2client==4.1.2
oauthlib==2.0.2
pathtools==0.1.2
pbr==1.10.0
pep8==1.7.0
pkginfo==1.2.1
pluggy==0.3.1
py==1.4.31
py-dateutil==2.2
py2app==0.7.3
pyasn1==0.3.3
pyasn1-modules==0.1.1
pyflakes==1.0.0
Pygments==2.0.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-gflags==2.0
python-tumblpy==1.0.4
pytz==2013.7
PyYAML==3.11
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
requires.io==0.2.6
retry-decorator==1.0.0
rsa==3.4.2
scipy==0.13.0b1
simplejson==3.7.3
six==1.10.0
snowballstemmer==1.2.0
SocksiPy-branch==1.1
Sphinx==1.3.1
sphinx-autobuild==0.5.2
sphinx-rtd-theme==0.1.8
stevedore==1.17.0
tornado==4.2
tox==2.3.1
tweepy==3.3.0
twine==1.5.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==12.0.7
watchdog==0.8.3
-e git+git@github.com:snarfed/webmention-tools.git@a67be86024868a6e99f51be568f78505a79a1e2f#egg=webmentiontools
xattr==0.6.4
youtube-dl==2016.4.6
zope.interface==4.1.1
