-e git+git@github.com:snarfed/brevity.git#egg=brevity
-e git+git@github.com:snarfed/gdata-python-client-1.git@blogger_id_parsing#egg=gdata
-e git+git@github.com:snarfed/granary.git#egg=granary-master
-e git+git@github.com:snarfed/python-future.git@all#egg=future
-e git+git@github.com:snarfed/oauth-dropins.git#egg=oauth_dropins-master
-e git+git@github.com:snarfed/webmention-tools.git#egg=webmentiontools
beautifulsoup4==4.6.0
certifi==2019.3.9
chardet==3.0.4
google-api-python-client==1.7.4
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.10.3
humanize==0.5.1
idna==2.8
Jinja2==2.10.1
lxml==3.7.3
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.0
mox3==0.24.0
oauth2client==4.1.2
oauthlib==3.0.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-tumblpy==1.0.4
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==3.4.2
simplejson==3.7.3
six==1.11.0
tweepy==3.6.0
uritemplate==3.0.0
urllib3==1.25.2
webapp2==3.0.0b1
