# Note that App Engine / Cloud Build's default pip cache is overly aggressive
# with GitHub dependency URLs like these. If I push a new commit to the branch
# in one of these URLs, Cloud Build still uses the old cached version.
# https://cloud.google.com/appengine/docs/standard/python3/specifying-dependencies
#
# Use this to bust that cache: gcloud -q beta app deploy --no-cache ...

git+https://github.com/snarfed/oauth-dropins.git#egg=oauth_dropins
git+https://github.com/snarfed/granary.git#egg=granary
git+https://github.com/dvska/gdata-python3.git#egg=gdata
git+https://github.com/kylewm/mf2util.git#egg=mf2util
git+https://github.com/Alir3z4/html2text.git#egg=html2text

beautifulsoup4==4.10.0
brevity==0.2.17
Brotli==1.0.9
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
Deprecated==1.2.13
domain2idna==1.12.0
ecdsa==0.18.0b2
extras==1.0.0
feedgen==0.9.0
fixtures==3.0.0
Flask==2.0.2
Flask-Caching==1.10.1
flask-gae-static==0.2
gdata==4.0.1
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.2.2
google-cloud-datastore==1.15.3
google-cloud-error-reporting==1.4.1
google-cloud-logging==2.7.0
google-cloud-ndb==1.11.1
google-cloud-tasks==2.7.2
googleapis-common-protos==1.54.0
grpc-google-iam-v1==0.12.3
grpcio==1.43.0
gunicorn==20.1.0
html5lib==1.1
humanfriendly==10.0
humanize==3.14.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
mf2py==1.1.2
mox3==1.1.0
oauthlib==3.2.0
packaging==21.3
pbr==5.8.1
praw==7.5.0
prawcore==2.3.0
proto-plus==1.20.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymemcache==3.5.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-tumblpy==1.1.4
pytz==2021.3
PyYAML==6.0
redis==4.1.3
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
testtools==2.5.0
tlslite-ng==0.8.0a42
tweepy==4.5.0
ujson==5.1.0
update-checker==0.18.0
urllib3==1.26.8
webapp2==3.0.0b1
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.2.3
Werkzeug==2.0.3
wrapt==1.13.3
