# Note that App Engine / Cloud Build's default pip cache is overly aggressive
# with GitHub dependency URLs like these. If I push a new commit to the branch
# in one of these URLs, Cloud Build still uses the old cached version.
# https://cloud.google.com/appengine/docs/standard/python3/specifying-dependencies
#
# Use this to bust that cache: gcloud -q beta app deploy --no-cache ...

git+https://github.com/kylewm/brevity.git#egg=brevity
git+https://github.com/snarfed/arroba.git#egg=arroba
git+https://github.com/snarfed/granary.git#egg=granary
git+https://github.com/snarfed/lexrpc.git#egg=lexrpc
git+https://github.com/snarfed/mox3.git#egg=mox3
git+https://github.com/snarfed/oauth-dropins.git#egg=oauth_dropins
git+https://github.com/snarfed/requests_oauth2client.git@all#egg=requests_oauth2client
git+https://github.com/snarfed/secp256k1-py.git@setup-requires-pycparser#egg=secp256k1

# required for mox3, not prod
fixtures==4.2.6
pbr==7.0.1

beautifulsoup4==4.14.2
bech32==1.2.0
Brotli==1.1.0
cachetools==6.2.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
cryptography==46.0.2
domain2idna==1.12.3
ecdsa==0.19.1
feedgen==1.0.0
Flask==3.1.2
Flask-Caching==2.3.1
flask-gae-static==1.0
google-api-core[grpc]==2.25.1
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
google-cloud-core==2.4.3
google-cloud-datastore==2.21.0
google-cloud-error-reporting==1.12.0
google-cloud-logging==3.12.1
google-cloud-ndb==2.3.4
google-cloud-tasks==2.19.3
googleapis-common-protos==1.70.0
grapheme==0.6.0
grpc-google-iam-v1==0.14.2
grpcio==1.75.1
grpcio-status==1.75.1
gunicorn==23.0.0
html2text==2025.4.15
html5lib==1.1
humanfriendly==10.0
humanize==4.13.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
libipld==1.2.3
lxml==6.0.2
MarkupSafe==3.0.3
mf2py==2.0.1
mf2util==0.5.2
oauthlib==3.3.1
packaging==25.0
pkce==1.0.3
Pillow==11.3.0
praw==7.8.1
prawcore==2.4.0
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pymemcache==4.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-tumblpy==1.1.4
pytz==2025.2
PyYAML==6.0.3
redis==6.4.0
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
soupsieve==2.8
tlslite-ng==0.9.0b2
tweepy==4.16.0
typing_extensions==4.15.0
ujson==5.10.0
update-checker==0.18.0
urllib3==2.5.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
