-e git+git@github.com:snarfed/gdata-python-client-1.git@blogger_id_parsing#egg=gdata
-e git+git@github.com:snarfed/granary.git#egg=granary-master
-e git+git@github.com:PythonCharmers/python-future.git@e12549c42ed3a38ece45b9d88c75f5f3ee4d658d#egg=future
-e git+git@github.com:snarfed/oauth-dropins.git#egg=oauth_dropins-master
-e git+git@github.com:snarfed/webmention-tools.git#egg=webmentiontools
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
brevity==0.2.17
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
coverage==4.0.3
docopt==0.6.2
extras==1.0.0
feedgen==0.8.0
fixtures==3.0.0
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
google-auth==1.7.0
google-cloud-error-reporting==0.33.0
html2text==2019.8.11
html5lib==1.0.1
httplib2==0.14.0
humanfriendly==4.18
humanize==0.5.1
idna==2.8
Jinja2==2.10.3
linecache2==1.0.0
lxml==3.7.3
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.1
mox3==0.28.0
oauth2client==4.1.3
oauthlib==3.1.0
pbr==5.4.3
pyasn1-modules==0.2.7
pyasn1==0.4.7
PySocks==1.7.1
python-dateutil==2.8.0
python-mimeparse==1.6.0
python-tumblpy==1.1.4
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
requests==2.22.0
requires.io==0.2.6
rsa==4.0
simplejson==3.7.3
six==1.13.0
soupsieve==1.9.4
testtools==2.3.0
traceback2==1.4.0
tweepy==3.8.0
ujson==1.35
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.25.6
webapp2==3.0.0b1
webencodings==0.5.1
WebOb==1.8.5
