body {
  background-color: white;
  color: black;
  margin: 1em;
  max-width: 800px;
}

body, input, textarea {
  font-family: Arial, sans-serif;
  font-size: medium;
}

#body {
  clear: both;
  margin: 1em 0 0 1em;
}

#navbar {
  text-align: right;
}

#title, #bottom {
  padding: .3em;
  background-color: #fb0;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

#title {
  border-top: 1px solid #999;
  border-top-left-radius: .3em;
  -moz-outline-radius-topleft: .3em;
}

#tagline {
  margin-left: 1em;
  font-size: large;
}

#bottom {
  border-bottom: 1px solid #9999dd;
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .3em;
  -moz-outline-radius-bottomleft: .3em;
  -moz-outline-radius-bottomright: .3em;
}

div.messages {
  position: fixed;
  top: 0px;
  text-align: center;
}

div.messages > p {
  margin: 0;
  margin-bottom: 1px;
  background-color: #dd0;
  color: #444;
  padding-left: .8em;
  padding-right: .6em;
  padding-top: .5em;
  padding-bottom: .2em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  -moz-outline-radius-bottomleft: .3em;
  -moz-outline-radius-bottomright: .3em;
}

#footer {
  margin-top: 1.5em;
  text-align: right;
}

#footer img {
  vertical-align: middle;
}

div#sources, div#destinations {
  margin-left: 2em;
  margin-bottom: 3em;
}

p.disabled {
  color: gray;
}

a {
  color: #36c;
}

a:hover, a:active {
  text-decoration: underline;
}

a img {
  border: none;
}

img#logo {
  float: right;
  background-color: white;
  padding: .5em;
  padding-right: 1em;
  margin-right: -.5em;
  margin-top: -1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: .5em;
}

li form * {
  vertical-align: middle;
}

input[type="submit"] {
  margin-right: .5em;
  margin-top: .5em;
}

select, input[type="submit"], input[type="text"] {
  border: 1px solid #aa0;
  border-radius: .1em;
  -moz-outline-radius: .2em;
  color: #222;
  text-shadow: 0pt 1px rgba(0, 0, 0, 0.1);
  padding: .3em;
}


img.source, img.dest, select, input[type="submit"], input[type="text"],
div.messages > p {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  /* background-image: linear-gradient(top, #ee0, #cc0); */
  /* background-image: -moz-linear-gradient(top, #ee0, #cc0); */
}

img.source:hover , img.dest:hover , input[type="submit"]:hover,
#title, #bottom {
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}


/* for debugging */
/* * { */
/*   border: 1px solid green; */
/* } */
