#intro {
  margin-top: 2em;
}

#logins {
  margin-top: .3em;
  text-align: right;
}

@media (max-width: 600px) {
  #logo {
    float: left;
  }
  #header {
    float: none;
    width: 100%;
  }
}

#signups {
  margin-top: 2em;
}

#signups hr {
  width: 50%;
  border-color: lightgray;
}

.big {
  font-size: 1.5em;
}

.small {
  font-size: .8em;
}

#header {
  text-align: left;
}

#header br {
  display: none;
}

@media (min-width: 768px) {
  #header br {
    display: inline;
  }
}

#title {
  font-weight: normal;
}

#more-link {
  font-size: .7em;
}

body.about #more-link {
  display: none;
}

pre .keyword, code .keyword, code.keyword {
  color: green;
}

pre .value, code .value, code.value {
  color: chocolate;
}

.row {
  text-align: center;
}

#blogposts, #publishes, #webmentions, #user {
  margin-top: 1em;
}

#top, #listen-ui, #listening-label, #publish-ui, #publishing-label {
  margin-bottom: 1em;
}

/* tentatively removed since it didn't look great with webmention signups */
/* @media (min-width: 768px) { */
/*   #listen-signup, #listen-ui { */
/*     border-left: 1px solid lightgray; */
/*     border-right: 1px solid lightgray; */
/*   } */
/* } */

#listen-signups input, #webmention-signups input {
  margin: .5em;
}

.header, #user, .promo, #listen-signups, #webmention-signups {
  margin-bottom: 1em;
}

#edit-profile em {
  font-style: normal;
}

form {
   display: inline;
}

form input {
  vertical-align: middle;
}

.delete-website {
  padding: 0;
  font-size: .7em;
  border: none;
  background-color: transparent;
}

.delete-website:hover {
  color: red;
  background-color: transparent;
}

#users-label {
  margin-top: 1em;
}

#users {
  list-style: none;
}

#users-paging {
  clear: both;
}

.source {
  text-align: left;
  margin-top: .5em;
}

#choose-blog > ul {
  list-style: none;
  text-align: left;
}

@media (min-width: 768px) {
  .user-items > .row {
    display: table;
    table-layout: fixed !important;
    width: 100%;
    text-align: left;
  }

  .user-items > .row > .col-sm-1,
  .user-items > .row > .col-sm-2,
  .user-items > .row > .col-sm-3,
  .user-items > .row > .col-sm-4 {
    display: table-cell;
    float: none;
    text-align: left;
    border-spacing: 0;
  }
}

@media (max-width: 767px) {
  .user-items > .row {
    margin-bottom: 1em;
  }
}

.source-buttons, .original-post {
  white-space: nowrap;
}

.delete {
  border: none;
  background: none;
  font-weight: bold;
  color: red;
}

.delete:hover, .delete:focus {
  color: darkred;
}

/* .glyphicon-warning-sign { color: gold; } */
.glyphicon-ok-sign { color: green; }
.glyphicon-exclamation-sign { color: gold; }
.glyphicon-pause { color: gold; }
.glyphicon-refresh { color: blue; }
.glyphicon-remove { color: red !important; }
.glyphicon-transfer { color: blue; }

.user-items {
  font-size: .8em;
  list-style: none;
}

code {
  color: black;
  background-color: white !important;
}

.original-post-links {
  list-style: none;
  padding-left: 0;
}

label {
  /* override Bootstrap style */
  font-weight: 300;
}

/* Seems like this shouldn't be necessary, but cursor was ending up as auto on the
 * a > img for the disabled Facebook signup button for some reason, not sure why.
 */
a > img {
  cursor: pointer;
}

button {
  border: 0;
  background-color: #337AB7;  /* same color as links */
  color: white;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 2px;
}

button[disabled] {
  border-color: gray !important;
  color: gray !important;
  pointer-events: auto !important;
}

button[disabled]:hover {
  background-color: lightgray !important;
}

#preview-ui {
  margin-top: 1em;
}

#preview-ui > * {
  vertical-align: middle;
}

.btn-default {
  border-color: #337AB7;
  color: #337AB7;
}

.btn-default:hover {
  background-color: #BDE;
  border-color: #337AB7;
  color: #337AB7;
}

.disable-button, #bad-button {
  border-color: red;
  color: red;
}

.disable-button:hover, #bad-button:hover {
  background-color: #FCC;
}

#good-button {
  border-color: green;
  color: green;
}

#good-button:hover {
  background-color: #DED;
}

#micropub-token-button, #disable-publish-button {
  margin-top: -6px;
}

.mastodon-button {
  height: 50px;
  padding: 6px;
  background-color: #323946;
}

#preview .verb {
  font-weight: bold;
}

#preview-text {
  display: inline-block;
  margin-top: 1em;
  text-align: left;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  max-width: 98%;
}

#preview-text hr {
  border-color: #cccccc;
}

#preview-text img, #preview-text video {
  max-height: 200px;
  max-width: 100%;
  margin-top: 1em;
}

.mastodon-embed {
  margin: 1em;
}

input[type="text"], input[type="url"] {
  padding-left: .3em;
  padding-right: .3em;
  border: 1px solid black;
  font-size: 1em;
}

#sent pre {
  display: inline-block;
}

/* Override the inline display:block which makes it align left instead of center. */
iframe#twitter-widget-0 {
  display: inline !important;
}

#footer {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
}

.error, .warning {
  margin: 10px;
  padding: .2em;
  font-style: italic;
}

.error {
  background-color: lightcoral !important;
}

.warning {
  background-color: gold !important;
}

.error p, .warning p {
  margin: 10px;
}

.error code, .warning code {
  font-style: normal;
  background-color: inherit !important;
}

.about {
  list-style: none;
}

.question {
  margin-top: 2em;
  margin-bottom: .5em;
  font-weight: bold;
}

.answer ul li, .answer ol {
  margin-bottom: .5em;
}

/* confirm_instagram.html */
iframe {
  width: 50%;
  border: 1px solid gray;
  height: 300px;
}
