{% extends "base.html" %}

{% block body_class %} about {% endblock %}

{% block content %}

<ul class="about">
<li><a href="#what">What is this?</a></li>
<li><a href="#how">How does it work?</a></li>
<li><a href="#how">How much does it cost?</a></li>
<li><a href="#which">Which things does it send, specifically?</a></li>
<li><a href="#privacy">What do you do with my data?</a></li>
<li><a href="#who">Who are you? Why did you make this?</a></li>
<li><a href="#history">How long has this been around?</a></li>
<li><a href="#stats">How big is this?</a></li>
<li><a href="#realtime">Bridgy isn't seeing one of my comments or
  likes or reshares!</a></li>
<li><a href="#public">...but it's been a long time, and Bridgy
  still hasn't seen it!</a></li>
<li><a href="#twitter-replies">Bridgy isn't seeing one of my Twitter
  replies!</li>
<li><a href="#disconnected">Bridgy stopped working for me!</a></li>
<li><a href="#facebook-expired">Bridgy used to work with my Facebook account,
  but now it doesn't!</a></li>
<li><a href="#appspot">What are all these brid-gy.appspot.com links
  in the comments that Bridgy sends to my site?</a></li>
<li><a href="#ssl">OK, fine. But why brid-gy.appspot.com instead of
  brid.gy?</a></li>
<li><a href="#bug">I found a bug! I have a feature request!</a></li>
<li><a href="#domain">Brid.gy? Really?</a></li>
</ul>

<br />

<div>
</p><ul class="about">

<li id="what" class="question">What is this?</li>
<li class="answer">
<p>Bridgy copies comments, likes, and reshares from social networks to your web
site. If you post links to your site on social networks
(aka <a href="http://indiewebcamp.com/POSSE">POSSE</a>ing to
the <a href="http://indiewebcamp.com/silos">silos</a>), and people interact with
those links, Bridgy <a href="http://indiewebcamp.com/backfeed">backfeeds</a>
those interactions to your site.
<a href="https://snarfed.org/2013-12-07_goodbye-penny-arcade-report#comments">You
can see an example here.</a>
</p>
<p>The <a href="https://snarfed.org/2012-01-08_bridgy_launched">first version of
Bridgy</a> was released a couple years ago, but only supported backfeeding
comments to
<a href="http://wordpress.org/">WordPress</a>. This version is better, thanks to
<a href="http://www.webmention.org/">webmentions</a> and the inspiration of the
<a href="http://indiewebcamp.com/why">IndieWeb community</a>.
</p>
</li>

<li id="how" class="question">How does it work?</li>
<li class="answer">
<p>
When you add one of your accounts, Bridgy checks it periodically for posts and
responses to those posts. When it finds a new response, it
<a href="http://indiewebcamp.com/original-post-discovery">looks for links to
your web site</a> in the post, then
sends <a href="http://www.webmention.org/">webmentions</a> to those links. It
also translates the comment
to <a href="http://microformats.org/wiki/microformats2">microformats2 HTML</a>
so that your web site can fetch and parse it.
</p>
<p>Bridgy is <a href="https://github.com/snarfed/bridgy">open source</a>. It's
written in Python and runs on
<a href="http://appengine.google.com/">Google App Engine</a>. It uses
<a href="https://github.com/snarfed/oauth-dropins">oauth-dropins</a> to let
users connect to the silos,
<a href="https://github.com/snarfed/activitystreams-unofficial">activitystreams-unofficial</a>
to fetch data from the silos and convert it to a standard format, and
<a href="https://github.com/vrypan/webmention-tools">webmention-tools</a> to
send webmentions.
</p>
</li>

<li id="how" class="question">How much does it cost?</li>
<li class="answer">
<p>Nothing! I have a <a href="http://quip.com/">great day job</a>, and Bridgy
is small, so thanks to <a href="http://appengine.google.com/">App Engine</a>, it
doesn't cost much to run. I don't need donations, promise.
</p>
<p>If you <em>really</em> want to
contribute, <a href="https://github.com/snarfed/bridgy">jump into the code</a>
and send me a pull request, or feel free to donate to the
<a href="http://www.aspca.org/">ASPCA</a> or the
<a href="https://www.eff.org/">EFF</a> in my name.
</p></li>

<li id="which" class="question">Which things does it send, specifically?</li>
<li class="answer">
<p>Bridgy detects and sends webmentions for:</p>
<ul>
<li>Twitter @-replies, retweets, and favorites of your tweets.</li>
<li>Facebook comments and likes on your posts...but not reshares of them,
  unfortunately. I haven't yet found a way to get those from Facebook's
  API.</li>
<li>Facebook event RSVPs. <a href="http://indiewebcamp.com/rsvp">Details.</a></li>
<li>Google+ comments, +1s, and reshares of your posts.</li>
<li>Instagram comments and likes on your pictures.</li>
</ul>
</li>
</p></li>

<li id="privacy" class="question">What do you do with my data?</li>
<li class="answer">
<p>Nothing! Bridgy isn't a business, and never will be, so I don't have the same
motivations to abuse your data that other services might. More concretely, I
won't ever send you email, I store as little of your
<a href="http://en.wikipedia.org/wiki/Personally_identifiable_information">PII</a>
(personally identifiable information) as possible, and I <em>never</em> have
access to any of your passwords.
</p>
</li>

<li id="who" class="question">Who are you? Why did you make this?</li>
<li class="answer">
<p>
I'm <a class="h-card" href="https://snarfed.org/">Ryan Barrett</a>. I'm just a
guy who <a href="https://snarfed.org/2012-07-25_why_i_have_my_own_web_site">likes
the web</a> and likes <a href="http://indiewebcamp.com/why">owning his own
data</a>.
</p>
</li>

<li id="history" class="question">How long has this been around?</li>
<li class="answer">
<p>
I started working on Bridgy in the summer of 2011 and launched the first version
on Jan. 8 2012, which never got much adoption because it was WordPress only and
not very polished. I launched the current version with webmention support on Dec.
9 2013.
</p>
</li>

<li id="stats" class="question">How big is this?</li>
<li class="answer">
<p>On March 11 2014, 3 months after its relaunch, Bridgy had:
<ul>
<li>155 users: 72 Twitter, 35 Google+, 34 Facebook, 14 Instagram</li>
<li>Seen 56,142 total responses (comments, retweets, likes, RSVPS, etc.)</li>
<li>Sent 4,576 successful webmentions to 702 different posts on 39 domains</li>
<li>Inspected 50k (estimated) pages for webmention endpoints</li>
</ul></p>
</li>

<li id="realtime" class="question">Bridgy isn't seeing one of my comments or
  likes or reshares!</li>
<li class="answer">
<p>Bridgy doesn't work in realtime, it just checks your accounts for new
activity periodically, every 5 to 20 minutes or so depending on the site.
Twitter favorites and retweets used to be an exception, since Bridgy used
<a href="https://dev.twitter.com/docs/streaming-apis">Twitter's Streaming
API</a> for a while, but
<a href="https://github.com/snarfed/bridgy/issues/57">not any more</a>.
</p></li>

<li id="public" class="question">...but it's been a long time, and Bridgy
  still hasn't seen it</li>
<li class="answer">
<p>Did you write the original post yourself? Bridgy doesn't crawl other people's
posts, even if they have links to your web site. It only sends back responses
to <em>your</em> posts.</p>
<p>Is the post fully public? And the response too? Bridgy only shows and sends
webmentions for fully public posts and responses. If your default Facebook
audience is "friends" or "friends of friends," or your Twitter account
is <a href="https://dev.twitter.com/docs/platform-objects/users#protected">protected</a>,
or your Google+ post wasn't sent to "public," Bridgy won't see it.
</p>
<p>Instagram is the one exception. The Instagram API
<a href="https://groups.google.com/forum/m/#!topic/instagram-api-developers/DAO7OriVFsw">doesn't
expose</a> whether an account
is <a href="http://help.instagram.com/448523408565555">private</a>, so Bridgy
handles all Instagram photos and comments. If your Instagram account is private,
don't sign it up for Bridgy!
</p></li>

<li id="twitter-replies" class="question">Bridgy isn't seeing one of my Twitter
  replies!</li>
<li class="answer">
<p>Does that reply include an
<a href="https://support.twitter.com/articles/14023-what-are-replies-and-mentions">@-mention</a>
of the user it's replying to? Twitter's API
<a href="https://dev.twitter.com/discussions/10056">doesn't have a way to get a
tweet's replies</a>, so Bridgy searches for @-mentions of the tweet's author to
find its replies. That means it can't always find replies that omit the
@-mention.
</p></li>

<li id="disconnected" class="question">Bridgy stopped working for me!</li>
<li class="answer">
<p>Find your account on the <a href="/">front page</a>. Does it have a
<span class="glyphicon glyphicon-pause"></span> icon next to it? If so, Bridgy
has lost access to your account. This can happen when you change your password,
when Bridgy's access expires or is revoked, or for other reasons.</p>
<p>To fix this, just click on the <span class="glyphicon
glyphicon-pause"></span> icon next to your account.
</p></li>

<li id="facebook-expired" class="question">Why does Bridgy's access to my
Facebook account expire after two months?</li>
<li class="answer">
<p>Facebook <a href="https://developers.facebook.com/docs/roadmap/completed-changes/offline-access-removal/">only
lets apps access your account for two months at a time</a>. That time period
automatically extends when you interact with an app yourself, but Bridgy works
in the background, without user interaction. So, you'll need to come back every
two months and log into Facebook again to renew its access to your account.</p>

<p>Don't worry! You don't need to remember to do this yourself. Bridgy will send
you a notification on Facebook when you need to renew. Just click on the
notification, and you'll be set for another two months.
</p></li>

<li id="appspot" class="question">What are all these brid-gy.appspot.com links
in the responses that Bridgy sends to my site?</li>
<li class="answer">
<p>Short answer: your
server's <a href="http://www.webmention.org/">webmention</a> code is probably
rendering the webmention source URL. It should instead use the source
page's <a href="http://microformats.org/wiki/h-entry#Properties">microformats2
u-url property</a>. This is a common oversight, since they're usually the same,
but Bridgy is a special snowflake. :P You might want to file a bug against your
server, or even fix it
yourself. <a href="https://github.com/idno/idno/issues/160">Here's an example
discussion.</a>
</p>
Longer answer: Webmentions</a> don't include the actual content of the response,
just a link to it. The recipient fetches that link and extracts the content and
other data using
<a href="http://microformats.org/wiki/microformats2">microformats2</a>. The
social networks don't (yet) support microformats2, so Bridgy translates their
data to microformats2 HTML and serves those translations as webmention targets
so that recipients can fetch and parse them.
<p>
</p></li>

<li id="ssl" class="question">OK, fine. But why brid-gy.appspot.com instead of
brid.gy?</li>
<li class="answer">
<p>It's an SSL thing. The <a href="https://www.brid.gy">brid.gy</a> domain fully
supports and uses SSL, but it uses
<a href="http://en.wikipedia.org/wiki/Server_Name_Indication">SNI</a>, a newer
SSL feature that some older clients and libraries have trouble with. Modern
browsers are generally fine, but when Bridgy sends a webmention, the
server that receives it also needs to understand SNI,
<a href="https://github.com/snarfed/bridgy/issues/20">and some</a>
<a href="https://github.com/aaronpk/webmention.io/issues/14">still don't</a>.
<a href="https://appspot.com/">appspot.com</a>'s SSL doesn't use SNI, so we use
it for webmention sources in order to be as compatible as possible.
</p></li>

<li id="bug" class="question">I found a bug! I have a feature request!</li>
<li class="answer">
<p>Great! Thank you! Feel free
to <a href="https://github.com/snarfed/bridgy/issues">file it in GitHub</a>,
or <a href="https://snarfed.org/about">send me an email</a>.
</p>
</li>

<li id="domain" class="question">Brid.gy? Really?</li>
<li class="answer">
<p>Yeah, I know. I'm not proud of the cutesy domain name either. Just go with it.
</p>
</li>

</ul>

</div>

{% endblock %}
