<!DOCTYPE html>
<html>
<head>
<title>Bridgy: Active responses</title>
<style type="text/css">
  table { border-spacing: .5em; }
  th, td { border: none; }
  li { list-style: none; }
  input { display: none; }
</style>

<script type="text/javascript">
function maybeShowInputs(event) {
  if (String.fromCharCode(event.charCode) == "x") {
    elems = document.getElementsByTagName("input");
    for (i = 0; i < elems.length; i++) {
      elems[i].style.display = "inline";
    }
  }
}
</script>
</head>

<body onkeypress="maybeShowInputs(event)">
<h2>Active responses</h2>
<form method="post" action="/admin/mark_complete">
<table>
  <tr>
    <th>Source</th>
    <th>Response</th>
    <th>Activity</th>
    <th>Last attempt</th>
    <th>Created</th>
    <th>Error URLs</th>
  </tr>

  {% for r in responses %}
  <tr>
    <td><a target="_blank" href="{{ r.source.get.bridgy_url }}">{{ r.source.get.label }}
    </a></td>

    <td><a target="_blank" href="{{ r.url }}">
      {{ r.response.content|default:"--"|striptags|truncatewords:6|safe }}</a></td>

    <td>{% for a in r.activities %}
      on <a target="_blank" href="{% firstof a.url a.object.url %}">
        {{ a.object.content|default:"--"|striptags|truncatewords:6|safe }}
      </a>
    {% endfor %}</td>

    <td><a target="_blank"
           href="/log?start_time={{ r.updated|date:'U' }}&key={{ r.key.urlsafe }}">
        {{ r.updated|timesince }} ago</a></td>

    <td>{{ r.created|timesince }} ago</td>

    <td>{{ r.links|safeseq|unordered_list }}</td>

    <td class="hidden">
      <input name="key" value="{{ r.key.urlsafe }}" type="checkbox" />
    </td>
  </tr>
  {% endfor %}
</table>

<div style="text-align: right"><input type="submit" value="Mark complete" /></div>
</form>
</body>
</html>
