<!DOCTYPE html>
<html>
<head>
<title>Bridgy: Active responses</title>
<style type="text/css">
  table { border-spacing: .5em; }
  th, td { border: none; }
  li { list-style: none; }
  input { display: none; }
</style>
<script async type="text/javascript" src="/static/bridgy.js"></script>
</head>

<body onkeypress="maybeShowInputs(event)">
<h2>Active responses</h2>
<form method="post" action="/admin/mark_complete">
<table>
  <tr>
    <th>Source</th>
    <th>Response</th>
    <th>Activity</th>
    <th>Last attempt</th>
    <th>Created</th>
    <th>Error URLs</th>
    <th><input id="all" type="checkbox" onclick="selectAll()" /></th>
  </tr>

  {% for r in responses %}
  <tr>
    {% set source = r.source.get() %}
    <td><a target="_blank" href="{{ source.bridgy_path() }}">{{ source.label() }}
    </a></td>

    <td><a target="_blank" href="{{ r.response.url }}">
      {{ (r.response or {}).content|default('--')|striptags|truncate(40) }}</a></td>

    <td>{% for a in r.activities %}
      on <a target="_blank" href="{{ a.url or a.object.url }}">
        {{ (a.object or {}).content|default(a.url)|striptags|truncate(40) }}
      </a>
    {% endfor %}</td>

    <td>{{ logs.maybe_link(r.updated, r.key)|safe }}</td>

    <td>{{ naturaltime(r.created) }}</td>

    <td>{{ r.links|join('<br>')|safe }}</td>

    <td class="hidden">
      <input name="key" value="{{ r.key.urlsafe() }}" type="checkbox" />
    </td>
  </tr>
  {% endfor %}
</table>

<div style="text-align: right"><input type="submit" value="Mark complete" /></div>
</form>
</body>
</html>
