<!DOCTYPE html>
<html>
<head>
<title>Bridgy: Poll error sources</title>
<style type="text/css">
  table { border-spacing: .5em; }
  th, td { border: none; }
  li { list-style: none; }
  input { display: none; }
</style>

<script type="text/javascript">
function maybeShowInputs(event) {
  if (String.fromCharCode(event.charCode) == "x") {
    for (const elem of document.getElementsByTagName("input")) {
      elem.style.display = "inline";
    }
  }
}
</script>
</head>

<body onkeypress="maybeShowInputs(event)">
<h2>Poll error sources</h2>
<table>
  <tr>
    <th>Source</th>
    <th>Last attempt</th>
    <th>Last success</th>
    <th>Last webmention</th>
  </tr>

  {% for s in sources %}
  <tr>
    <td><a target="_blank" href="{{ s.bridgy_path() }}">{{ s.label() }}</a></td>

    <td>{{ logs.maybe_link(s.last_poll_attempt, s.key)|safe }}</td>

    <td>
      {% if s.last_polled and s.last_polled > EPOCH %}
        {{ logs.maybe_link(s.last_polled, s.key)|safe }}
      {% else %}
        never
      {% endif %}
    </td>

    <td>
      {% if s.last_webmention_sent and s.last_webmention_sent > EPOCH %}
        <time datetime="{{ s.last_webmention_sent.isoformat() }}"
              title="{{ s.last_webmention_sent.isoformat() }}">
          {{ naturaltime(s.last_webmention_sent) }}</time>
      {% else %}
        never
      {% endif %}
    </td>

    <td>
      <form method="post" action="/admin/disable">
        <input type="submit" value="Disable" />
        <input type="hidden" name="key" value="{{ s.key.urlsafe().decode() }}" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
