<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Bridgy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<!-- 32x32 last so that browsers prefer it -->
<link rel="shortcut icon" sizes="32x32" href="/static/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="/static/favicon.png">

<!-- Bootstrap CSS. Fetched from
  http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/ on 2004-03-13. -->
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<!-- Include my stylesheet after so it overrides -->
<link rel="stylesheet" href="/static/style.css" type="text/css" />

<script type="text/javascript">
<!-- google analytics -->
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-11785301-2']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

function toggle(id) {
  var elem = document.getElementById(id);
  elem.style.display = (elem.style.display == "none") ? "block" : "none";
}

function toggle_ajax(section, source_id) {
  var id = section + "-" + source_id;
  if (document.getElementById(id)) {
    toggle(id);
    return;
  }
  var stub = document.getElementById("stub-" + id);
  stub.style.display = "block";

  var req = new XMLHttpRequest();
  req.onload = function() {
    if (this.status == 200) {
      stub.id = id;
      stub.innerHTML = this.responseText;
    } else if (this.status == 204) {
      stub.style.display = "none";
      document.getElementById("link-" + id).innerHTML = "No " + section + " yet";
    } else {
      this.onerror();
    }
  };
  req.onerror = function() {
      stub.innerHTML = "Error fetching " + section +
        " <span title='Error' class='glyphicon glyphicon-exclamation-sign'></span>";
  }
  req.open("get", "/" + section + "?source=" + source_id, true /* async */);
  req.send();
}

window.onload = function() {
  var id = window.location.hash.substr(1);
  var target = id ? document.getElementById(id) : null;
  if (target) {
    window.setTimeout(function() { target.style.backgroundColor = "white"; },
                      3000 /* ms */);
    var path = window.location.pathname;
    toggle_ajax(path == "/publish" ? "publishes" : "responses", id);
  }
}
</script>

</head>

<!-- Content starts here -->
<body>

{# TODO: javascript to set browser location to / so that reloads are harmless #}
<div id="messages">
{% for msg in msgs %}
  <p class="{{ msg_error }}">{{ msg }}</p>
{% endfor %}
</div>

<main class="tp-main lead container">

<div class="row">
<div id="logo" class="col-xs-4">
 <a href="/">
   <img id="logo-img" class="img-responsive" src="/static/bridgy_logo.jpg" /></a>
<br />

<ul class="nav nav-pills nav-justified">
  <li></li>
  {% for p in pages %}
    <li {% if p == page %} class="active" {% endif %} >
      <a href="/{{ p }}">{{ p|capfirst }}</a>
    </li>
  {% endfor %}
</ul>
</div>

<div id="header" class="col-xs-8">
<p class="big">
Got a web site?<br />
Post links to your site on social networks?<br />
Wish comments and likes showed up on your site?<br />
<a id="title" href="/">Bridgy</a> copies them back for you.
{% block below_tagline %}
{% endblock %}
</p>
</div>
</div>

<p class="clearfix" />

{% block content %}
{% endblock %}

<div id="footer">
  <a href="/about">About / FAQ</a>
  | <a href="https://snarfed.org/about">Contact</a>
  | <a href="https://github.com/snarfed/bridgy">Source</a>
  | <a href="http://indiewebcamp.com/">#Indieweb</a>
</div>

</div>
</main>
</body>
</html>

