<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Bridgy{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="micropub" href="/micropub">
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/bridgy_logo_128.jpg">
<!-- 32x32 last so that browsers prefer it -->
<link rel="shortcut icon" sizes="32x32" href="/static/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="/static/favicon.png">
<link rel="stylesheet" href="/oauth_dropins_static/bootstrap.min.css" />
<link rel="stylesheet" href="/oauth_dropins_static/util.css" type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="manifest" href="/static/manifest.json" />

<script async src="/static/bridgy.js"></script>
<!-- Not async because it adds a DOMContentLoaded event listener, which may
  -- happen before an async script loads. -->
<script src="/oauth_dropins_static/util.js"></script>
</head>

<!-- Content starts here -->
<body class="{% block body_class %}{% endblock %}">

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div id="messages">
  {% for message in messages %}
    <p class="message shadow">{{ message|safe }}</p>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}

<main class="tp-main lead container">

<div id="logins">
{% with logins = get_logins() %}
{% if logins %}
  {% for login in logins %}
  <nobr><a href="{{ login.path }}" class="h-card u-url">
    <img src="/static/{{ login.site }}_icon.png" width="24" />
    <span class="p-name">{{ login.name }}</span>
  </a></nobr> |
  {% endfor %}
  <a href="/logout">Log out</a>
{% endif %}
{% endwith %}
</div>

<div id="intro" class="row">
<div id="logo" class="col-xs-4">
 <a href="/"><img id="logo-img" class="img-responsive" src="/static/bridgy_logo.jpg" /></a>
</div>

<div id="header" class="col-xs-8">
<br>
<p class="big"><a id="title" href="/">Bridgy</a> connects your web site to social media.<br>
Likes, reposts, mentions, cross-posting, <a href="/about">and more...</a>
</div>
</div>

<p class="clearfix"></p>

{% block content %}
{% endblock %}

<div id="footer">
  <a href="/about">Help</a>
  | <a href="https://snarfed.org/?s=bridgy">News</a>
  | <a href="https://github.com/snarfed/bridgy/issues">Bug?</a>
  | <a href="https://snarfed.org/?s=bridgy%20stats">Stats</a>
  | <a href="https://github.com/snarfed/bridgy">Open source</a>
  | <a href="https://indieweb.org/">IndieWeb</a>
  | <a href="https://fed.brid.gy/">Bridgy Fed</a>
</div>

</div>
</main>
</body>
</html>
