{% extends "base.html" %}

{% block title %}Choose Facebook user or page - Bridgy{% endblock %}

{% block content %}

<br />
<p class="row big">Which user or page do you want to sign up?</p>

<form id="choose-facebook" class="row big" action="{{ action }}" method="post">
  <ul>
    {% for obj in choices %}
    <li>
      <input type="radio" name="id" id="{{ obj.id }}" value="{{ obj.id }}"
             {% if loop.first %} checked {% endif %}>
      <label for="{{ obj.id }}">
        <a target="_blank" href="https://www.facebook.com/{{ obj.id }}">
          <img src="https://graph.facebook.com/v2.6/{{ obj.id }}/picture?width=32"
               class="profile" />
          {{ obj.name }}</a>
      </label>
    </li>
    {% endfor %}
  </ul>

  <input type="hidden" name="auth_entity_key" value="{{ auth_entity_key }}" />
  <input type="hidden" name="state" value="{{ state }}" />
  <p class="row big"><input type="submit" class="btn btn-default" value="OK" /></p>
</form>

{% endblock %}
