<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Brid.gy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" href="/static/favicon.png">
<link rel="apple-touch-icon" href="/static/favicon.png"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
<!-- Include my stylesheet after so it overrides -->
<link rel="stylesheet" href="/static/style.css" type="text/css" />

<!-- google analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-11785301-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>

<!-- Content starts here -->
<body>

{# TODO: javascript to set browser location to / so that reloads are harmless #}
<div id="messages">
{% for msg in msgs %}
  <p>{{ msg }}</p>
{% endfor %}
</div>

<main class="tp-main lead container">

<div class="row">
<div id="logo" class="col-sm-4">
 <img id="logo-img" class="img-responsive" src="/static/bridgy_logo.jpg" />
</div>

<div id="header" class="col-sm-8">
<p class="big">
Got an <a href="http://indiewebcamp.com/why">Indieweb</a> site?
<br />
<a href="http://indiewebcamp.com/POSSE">POSSE</a> your posts to the silos?
<br />
<span id="title">Brid.gy</span>
<a href="http://indiewebcamp.com/backfeed">backfeeds</a> comments to your site.
<br />
</p>
<a href="#"
   onclick="more.style.display = (more.style.display == 'none') ? 'block' : 'none';
            return false;">
 More...</a>
</div>
</div>

<p class="clearfix" />

<div id="more" style="display: none" />
<p>Brid.gy is a service that sends
<a href="http://webmention.org/">webmentions</a> for comments on Facebook,
Twitter, Google+, and Instagram. Brid.gy polls your posts,
discovers <a href="http://indiewebcamp.com/original-post-discovery">original
post links</a>, and sends comments to those links as webmentions. It also serves
each silo post and comment
as <a href="http://microformats.org/wiki/microformats2">microformats2</a> for
webmention targets to read.</p>

<p>You can <a href="#users">see who's using Brid.gy</a> or click on a button
below to try it yourself.</p>
</div>

<!-- Connect buttons -->
<div id="connect" class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/facebook/start">
  <input type="image" alt="Sign in with Facebook" src="/static/facebook_button.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/twitter/start">
  <input type="image" alt="Sign in with Twitter" src="/static/twitter_button.png" />
</form></div>
<div class="clearfix visible-xs"></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/googleplus/start">
  <input type="image" alt="Sign in with Google+" src="/static/google_plus_button.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/instagram/start">
  <input type="image" alt="Sign in with Instagram" src="/static/instagram_button.png" />
</form></div>
</div>

<br />

<!-- Users -->
<div id="users" class="row">
<p class="big">Registered accounts:</p>

{# TODO: paging #}
<table id="sources">
{% for source in sources %}
  <tr {% if source.status == "disabled" %}
       title="This source was disconnected on {{ source.DISPLAY_NAME }}'s end. To fix this, delete and re-add it."
     {% endif %}><td>
      <a href="{{ source.url }}">
        <img class="source" src="{{ source.picture }}" width="64px" /></a>
    </td><td>
      {% if source.status == "disabled" %}
        <span class="glyphicon glyphicon-warning-sign"></span>
      {% endif %}
      <a href="{{ source.url }}" class="source {{ source.status }}"
         >{{ source.name }}</a>
    </td><td>
      ({{ source.DISPLAY_NAME }})
    </td><td>
      <!-- <form method="post" action="/delete"> -->
      <!--   <input name="key" type="hidden" value="{{ source.key }}" /> -->
      <!--   <button type="submit" title="Delete" class="glyphicon glyphicon-remove" -->
      <!--           style="border: none; background: none;" /> -->
      <!-- </form> -->
  </td></tr>
{% endfor %}
</table>
</div>

<div id="footer">
  <a href="http://snarfed.org/2012-01-08_bridgy_launched">About</a>
  | <a href="#faq">FAQ</a>
  | <a href="http://snarfed.org/about">Contact</a>
  | <a href="https://github.com/snarfed/bridgy">Source</a>
</div>

</div>
</main>
</body>
</html>

