{% extends "base.html" %}

{% block below_tagline %}
<a id="more-link" href="#"
   onclick="toggle('more-link'); toggle('more'); return false;">More...</a>
{% endblock %}


{% block content %}

<div id="more" style="display: none" />
<p>Brid.gy sends
<a href="http://webmention.org/">webmentions</a> for comments on Facebook,
Twitter, Google+, and Instagram. Brid.gy polls your posts,
discovers <a href="http://indiewebcamp.com/original-post-discovery">original
post links</a>, and sends comments to those links as webmentions. It also serves
each post and comment
as <a href="http://microformats.org/wiki/microformats2">microformats2</a> for
webmention targets to read.</p>

<p>You can <a href="#users">see who's using Brid.gy</a>, click on a button
below to try it yourself, or read <a href="/about">even more details.</a></p>
</div>


<!-- Connect buttons -->
<div id="connect" class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/facebook/start">
  <input type="image" alt="Sign in with Facebook" src="/static/facebook_button.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/twitter/start">
  <input type="image" alt="Sign in with Twitter" src="/static/twitter_button.png" />
</form></div>
<div class="clearfix visible-xs"></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/googleplus/start">
  <input type="image" alt="Sign in with Google+" src="/static/google_plus_button.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/instagram/start">
  <input type="image" alt="Sign in with Instagram" src="/static/instagram_button.png" />
</form></div>
</div>

<br />

<!-- Users -->
<p id="users" class="big row">Registered accounts:</p>

{# TODO: paging #}
<div id="sources">
{% for source in sources %}

<div id="{{ source.dom_id }}" class="row"
  {% if source.status == "disabled" %}
     title="This source was disconnected on {{ source.DISPLAY_NAME }}'s end.
            To fix this, delete and re-add it."
  {% else %}{% if source.status == "error" %}
     title="Error"
  {% endif %}{% endif %}>
 <div class="col-sm-4">
  <a target="_blank" href="{{ source.url }}">
    <img class="profile" src="{{ source.picture }}" width="64px" />
    {{ source.name|safe }}</a>

  ({{ source.DISPLAY_NAME }})

  <a href="#{{ source.dom_id }}" title="Link">#</a>

  {% if source.status != "enabled" %}
    <span class="glyphicon glyphicon-exclamation-sign"></span>
  {% endif %}

  <form method="post" action="/delete/start">
    <input name="key" type="hidden" value="{{ source.key }}" />
    <button type="submit" title="Delete" class="glyphicon glyphicon-remove"
            style="border: none; background: none;"></button>
  </form>

 </div><div class="col-sm-4">
  {% if source.last_polled == epoch %}
    Not polled yet
  {% else %}
    Polled
    <a href="/log?start_time={{ source.last_polled|date:'U' }}&key={{ source.key }}">
      {{ source.last_polled|timesince }} ago</a>
  {% endif %}

  <!-- <form method="post" action="/poll"> -->
  <!--   <input name="key" type="hidden" value="{{ source.key }}" /> -->
  <!--   <button type="submit" title="Poll now" class="glyphicon glyphicon-refresh" -->
  <!--           style="border: none; background: none;"></button> -->
  <!-- </form> -->

 </div><div class="col-sm-4">
  {% if source.recent_comments %}
    <a href="#" onclick="toggle('comments-{{ source.dom_id }}'); return false;">
      Recent comments...</a>
  {% else %}
    No comments yet
  {% endif %}
 </div>
</div>

<ul id="comments-{{ source.dom_id }}" class="comments" style="display: none" />
  {% for comment in source.recent_comments %}
  {% with comment.comment as c %}
  <li class="row">
   <div class="col-sm-4">
    <a target="_blank" href="{{ c.author.url }}">
      <img class="profile" src="{{ c.author.image.url }}" width="32" /></a>
      <!-- {{ c.author.displayName }} -->
    <a target="_blank" href="{{ c.url }}">{{ c.content|striptags|truncatewords:6|safe }}</a>

   </div><div class="col-sm-4">
    {% with comment.activity.object as a %}
    on <a target="_blank" href="{{ a.url }}">{{ a.content|striptags|truncatewords:6|safe }}</a>
    {% endwith %}

   </div><div class="col-sm-4">
    <a href="/log?start_time={{ comment.updated|date:'U' }}&key={{ comment.key }}"
    {% if comment.status == 'complete' %}
       title="Completed"><span class="glyphicon glyphicon-ok-sign"></span>
    {% else %}{% if comment.status == 'error' %}
      title="Error"><span class="glyphicon glyphicon-exclamation-sign"></span>
    {% else %}{% if comment.status == 'processing' %}
      title="Processing"><span class="glyphicon glyphicon-transfer"></span>
    {% else %}>
    {% endif %}{% endif %}{% endif %}
      {{ comment.updated|timesince }} ago</a>
   </div>
  </li>
  {% endwith %}
  {% endfor %}
</ul>

{% endfor %}
</div>

{% endblock %}
