{% extends "base.html" %}

{% block title %}Edit web sites - Bridgy{% endblock %}

{% block content %}

<br />

<p class="row big">
{% include "profile_link.html" %}
</p>

{% if source.website_links %}
  <p class="row big">Your web sites:</p>
  {% for url in source.domain_urls %}
    <form method="post" action="">
      <p class="row big">
        {{ util.pretty_link(url)|safe }}
        <input type="hidden" name="delete" value="{{ url }}" />
        <input type="submit" title="Remove" value="✖" class="btn delete-website" />
      </p>
    </form>
  {% endfor %}
{% else %}
  <p class="row big">What's your web site?</p>
{% endif %}


<div class="row">
<form method="post" action="">
  <input required type="url" name="add" id="add" placeholder="http://..." />
  <input type="submit" class="btn btn-default" value="Add" />
  <input type="hidden" name="source_key" value="{{ source.key.urlsafe().decode() }}" />
</form>
</div>

{% if source.website_links %}
<br />
<div class="row">
<form method="get" action="{{ source.bridgy_path() }}">
  <input type="submit" class="btn btn-default" value="Done" />
</form>
</div>
{% endif %}

<br>
<p class="row">Bridgy uses your web site(s) for <a href="https://brid.gy/about#link">post discovery</a> and, if you choose, <a href="https://brid.gy/about#publish">publishing</a>.</p>

{% endblock %}
