{% extends "social_user.html" %}

{% block listen-signup %}
{% include "facebook_signup.html" %}
{% endblock %}

{% block publish-signup %}
Click to enable <a href="/about#publish">publishing</a>:
<form method="post" name="publish-facebook-start" action="/facebook/start">
 <input type="image" alt="Sign in with Facebook"
        src="/activitystreams/oauth_dropins/static/facebook.png" />
 <input name="state" type="hidden" value="publish" />
 <!-- https://developers.facebook.com/docs/reference/login/ -->
 <input name="scope" type="hidden"
        value="offline_access,user_website,publish_actions,create_event,rsvp_event,user_status,friends_status,user_photos,friends_photos,user_videos,friends_videos,user_events,friends_events,user_likes,friends_likes" />
{% endblock %}
