{% extends "social_user.html" %}

{% block listen_signup %}
{% include "facebook_signup.html" %}
{% endblock %}

{% block edit_profile %}
<a href="https://www.facebook.com/me?sk=info&edit=eduwork#pagelet_contact"
   target="_blank">Edit your Facebook profile</a>,
<a href="https://www.facebook.com/help/353111348061173">
 put it in <em>About => Website</em></a>,
then click here:
{% include "facebook_signup.html" %}
{% endblock %}

{% block publish_signup %}
{% if publish_signup_ok %}
<span class="big">Click to enable <a href="/about#publish">publishing</a>:</span>
<form method="post" name="publish-facebook-start" action="/facebook/start" class="signup">
 <input type="image" alt="Sign in with Facebook"
        src="/oauth_dropins/static/facebook.png" />
 <input name="feature" type="hidden" value="publish" />
 <input name="id" type="hidden" value="{{ source.key.id() }}" />
</form>
{% endif %}
{% endblock %}
