{% extends "social_user.html" %}

{% block listen_signup %}
{% include "facebook_signup.html" %}
{% endblock %}

{% block edit_profile %}
<a href="https://www.facebook.com/me?sk=info&edit=eduwork#pagelet_contact"
   target="_blank">Edit your Facebook profile</a>,
<a href="https://www.facebook.com/help/353111348061173">
 put it in <em>About => Website</em></a>,
then click here:
{% include "facebook_signup.html" %}
{% endblock %}

{% block publish_signup %}
<span class="big">Facebook publish signup is
<a href="https://github.com/snarfed/bridgy/issues/807">temporarily disabled</a>.
Check back soon!</span>
{% endblock %}
