{% extends "base.html" %}

{% block content %}

<div class="row">
<ul id="faq">

<li class="question">What is this?</li>
<li class="answer">
<p>It's a service that <a href="http://indiewebcamp.com/backfeed">backfeeds</a>
comments from social networks to your web site. Specifically, if you post links
on social networks (aka <a href="http://indiewebcamp.com/silos">silos</a>) to
posts, pictures, or other content on your own site, Brid.gy copies them back so
you can display them there too.
</p>
</li>

<li class="question">Brid.gy? Really?</li>
<li class="answer">
Yeah, I know. I'm not proud of the cutesy domain name either. Just go with it.
</li>

</ul>

</div>

{% endblock %}
