<!-- Google+ listen signup -->
<form method="post" name="listen-googleplus-start" action="/googleplus/start">
  <input type="image" alt="Sign in with Google+"
         src="/activitystreams/oauth_dropins/static/google_plus.png" />
  <!-- The state param doesn't actually work for G+. Not sure why. Doesn't
       matter for now since we don't support publish for G+. -->
  <input name="state" type="hidden" value="listen" />
  <!-- https://developers.google.com/+/api/oauth#scopes -->
  <input name="scope" type="hidden"
         value="https://www.googleapis.com/auth/plus.login" />
</form>
