{% extends "base.html" %}

{% block title %}Bridgy{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<!-- Signup buttons -->
<div id="signups" class="row">
{% with "col-sm-5" as width %}
{% include "listen_signup.html" %}
{% endwith %}

{% with "col-sm-3" as width %}
{% include "publish_signup.html" %}
{% endwith %}

{% with "col-sm-4" as width %}
{% include "webmention_signup.html" %}
{% endwith %}
</div>

<br />
<p class="row big">
  Already signed up? <a href="/users">Find your user page here.</a></p>

<!-- Stats -->
<br />
<p class="row big">
<a href="/users">{{ users }} users</a>,
{{ responses }} responses handled,
{{ links }} links analyzed,
{{ webmentions }}
 <a href="http://indiewebify.me/#send-webmentions">webmentions</a> sent,
{{ publishes }} posts published,
{{ blogposts }} blog posts processed
<!-- {{ webmentions_received }} blog webmentions received -->
and counting...
</p>

{% endblock %}
