{% extends "base.html" %}

{% block body_class %} index {% endblock %}

{% block content %}

<!-- Signup buttons -->
<div id="signups" class="row">
{% include "publish_signup.html" %}
{% include "listen_signup.html" %}
</div>


<!-- Users -->
<p id="sources-label" class="row big">Users</p>

<div id="sources" class="row">

{% for source in sources %}
{% spaceless %}
<a href="/{{ source.SHORT_NAME }}/{{ source.key.id }}" class="{{ source.SHORT_NAME }}"
   {# oddly, source.AS_CLASS doesn't work for Twitter. use kind as fallback. #}
   title="{{ source.name|safe }} ({% firstof source.AS_CLASS.NAME source.key.kind %})">
  <img class="profile" src="{{ source.picture }}" width="64px" />
</a>
{% endspaceless %}
{% endfor %}
</div>

{% endblock %}
