{% extends "base.html" %}

{% block title %}Bridgy{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<!-- Signup buttons -->
<div id="signups" class="row">
{% include "publish_signup.html" %}
{% include "listen_signup.html" %}
{% if DEBUG %}
  {% include "webmention_signup.html" %}
{% endif %}
</div>


<!-- Users -->
<p id="sources-label" class="row big">Users</p>

<div id="sources" class="row">

{% for source in sources %}
{% spaceless %}
<a href="{{ source.bridgy_path }}" class="{{ source.SHORT_NAME }}"
   title="{{ source.label|safe }}">
  <img class="profile" src="{{ source.picture }}" width="64px" />
</a>
{% endspaceless %}
{% endfor %}
</div>

{% endblock %}
