{% extends "base.html" %}

{% block title %}Mastodon signup - Bridgy{% endblock %}

{% block content %}

<br />

<form method="post" action="/mastodon/start">
<p class="row big">
<label for="website">
Enter your
<a href="https://joinmastodon.org/#getting-started" target="_blank">
<img src="/oauth_dropins/static/mastodon_logo_large.png"
     style="height: 1em; margin-top: -.1em"/> Mastodon server</a>
(aka instance) here:
<!-- , e.g. -->
<!-- <a href="https://mastodon.social/"><code>mastodon.social</code></a>:</label> -->
</p>

<div class="row">
  <input required type="url" name="instance" id="instance" scheme="https"
         placeholder="e.g. mastodon.social" />
  <input type="submit" class="btn btn-default" value="Go" />
  <input name="feature" type="hidden" value="listen" />
</div>
</form>

<br>
<p class="row">
...or if you're technical, <a href="https://fed.brid.gy/">try Bridgy Fed instead!</a> No Mastodon account needed.
</p>

{% endblock %}
