{% extends "social_user.html" %}

{% block listen_signup %}
{% include "mastodon_signup.html" %}
{% endblock %}

{% block edit_profile %}
<a href="{{ source.instance() }}/settings/profile#account_discoverable" target="_blank">
  Edit your Mastodon profile</a>,
enter it in as <em>Content</em> in a <em>Profile metadata</em> item (with any label), then click here:
{% include "mastodon_signup.html" %}
{% endblock %}

{% block publish_signup %}
<span class="big">Click to enable <a href="/about#publish">publishing</a>:</span>
<form method="post" name="publish-mastodon-start" action="/mastodon/start" class="signup">
 <input type="image" class="mastodon-button" alt="Sign in with Mastodon"
        src="/oauth_dropins/static/mastodon_large.png" />
 <input name="instance" type="hidden" value="{{ source.instance() }}" />
 <input name="feature" type="hidden" value="publish" />
</form>
{% endblock %}
