{% extends "base.html" %}

{% block title %}Mastodon signup - Bridgy{% endblock %}

{% block content %}
{% with logins = get_logins()|selectattr('site', 'eq', 'mastodon')|list %}

<br />

{% if logins %}
<p class="row big">Click to open an account you're currently logged into:</p>

<ul class="user-items">
{% for login in logins %}
  <li class="row big">
    <nobr class="col-sm-4 col-sm-offset-4">
      <a href="{{ login.path }}" class="h-card u-url">
        <img src="/static/{{ login.site }}_icon.png" width="24" />
        <span class="p-name">{{ login.name }}</span>
      </a>
    </nobr>
  </li>
{% endfor %}
</ul>
{% endif %}

<br />

<form method="post" action="/mastodon/start">
<p class="row big">
<label for="website">
{% if logins %} Or, enter a {% else %} Enter your {% endif %}
<a href="https://joinmastodon.org/#getting-started" target="_blank">
<img src="/oauth_dropins_static/mastodon_logo_large.png"
     style="height: 1em; margin-top: -.1em"/> Mastodon instance</a>:
</p>

<div class="row">
  <input required type="url" name="instance" id="instance" scheme="https"
         placeholder="e.g. mastodon.social" />
  <input type="submit" class="btn btn-default" value="Go" />
  <input name="feature" type="hidden" value="listen" />
</div>
</form>

{% endwith %}
{% endblock %}
