{% extends "base.html" %}

{% block title %}Micropub endpoint - Bridgy{% endblock %}

{% block content %}

<!-- Header: name and picture -->
<br />
<div class="row">
 <div class="col-sm-12">
   This is a <a href="https://micropub.net/">Micropub</a> API endpoint for <a href="/about#publishing">Bridgy Publish</a>. It supports create and delete and photo/video URLs, but not update or file upload. You can get a token from your Bridgy user page. <a href="/about#micropub">See the docs for more details.</a>
 </div>
</div>

<br />

{% endblock %}
