<a target="_blank" href="{{ source.silo_url }}" title="{{ source.label|safe }}">
  <img class="profile" src="{{ source.picture }}" width="32px" />
  <img src="/static/{{ source.SHORT_NAME }}_icon.png"
       {# oddly, source.GR_CLASS doesn't work for Twitter. use kind as fallback. #}
       alt="{% firstof source.GR_CLASS.NAME source.key.kind %}" />
  {{ source.name|safe }}</a>

<!-- Preview description (may include embedded silo post) and text content -->
will {{ description|safe }}
<br />
{% if preview %}
  <pre id="preview-text">{{ preview|safe }}</pre>
  <br />
{% endif %}

<form method="post" action="/{{ source.SHORT_NAME }}/publish/start" class="preview-ui">
 <input type="hidden" name="state" value="{{ state }}" />
 <button id="send-button" type="submit" class="btn btn-default">Send</button>
</form>

<br />

<!-- Send results stub -->
<br />
<div id="sent" class="row">
<!-- Equivalent webmention command line -->
<p>Or <a href="/about#webmentions">send via webmention</a> with this command line:
<br />
<pre>curl -d 'source={{ source_url }}&target={{ target_url }}&bridgy_omit_link={{ omit_link }}' \
  {{ webmention_endpoint }}
</pre>
</p>
</div>
