{% extends "base.html" %}

{% block title %}Provide app password - Bridgy{% endblock %}

{% block content %}

<br />
<p class="row big">Log into Bluesky with your app password.</p>

<p class="row"><a href="https://bsky.app/settings/app-passwords">Generate one for Bridgy in your Bluesky settings</a>. You can revoke it at any time.</p>

<form id="app-password" class="row big" action="{{ post_url }}" method="post">
  <p class="row">
    <input type="text" name="username" placeholder="handle" />
    <input type="password" name="password" placeholder="app password" />
  </p>
  <p class="row big"><input type="submit" class="btn btn-default" value="OK" /></p>
  <input name="operation" type="hidden" value="{{ operation }}" />
  <input name="feature" type="hidden" value="listen" />
  <input name="state" type="hidden" value="{{ state }}" />
</form>

{% endblock %}
