<ul class="publishes">
  {% for publish in publishes %}
  <li class="row">
   <div class="col-sm-4">
     {{ publish.pretty_page|safe }}

   </div><div class="col-sm-4">
    <a href="/log?start_time={{ publish.updated|date:'U' }}&key={{ publish.key.urlsafe }}">
      {{ publish.updated|timesince }} ago
      {% if publish.status == 'failed' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if publish.status == 'new' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-4">
     {% if publish.published.url %}
       <a href="{{ publish.published.url }}">
     {% endif %}
       {{ publish.type|capfirst }}
     {% if publish.published.url %}
       </a>
    {% endif %}

  </li>
  {% endfor %}
</ul>
