{% extends "base.html" %}

{% block content %}

<!-- For embeds -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=318683258228687";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Preview AJAX -->
<script type="text/javascript">
function do_preview(site) {
  var url = document.getElementById("source-url").value.trim();
  if (url.length == 0) {
    window.alert("Please enter a URL.");
    return;
  }

  var preview = document.getElementById("preview");
  var req = new XMLHttpRequest();
  req.onload = function() {
    if (this.status == 200) {
      document.getElementById("preview").innerHTML = this.responseText;
      /* trigger re-renders of twitter and facebook embeds */
      twttr.widgets.load();
      if (typeof(FB) != "undefined") {
        FB.XFBML.parse();
      }
    } else {
      this.onerror();
    }
  };
  req.onerror = function() {
      preview.innerHTML =
        "<span title='Error' class='glyphicon glyphicon-exclamation-sign'></span> " +
        this.responseText;
      preview.class = "error";
  }

  preview.innerHTML = "<img src='/static/spinner.gif' width='30' />";
  req.open("post", "/publish/preview?source=" + url +
           "&target=http://brid.gy/publish/" + site);
  req.send();
}

function send_preview(url) {
  var sent = document.getElementById("sent");
  var glyph = "<span title='Error' class='glyphicon glyphicon-exclamation-sign'></span> ";
  var req = new XMLHttpRequest();

  req.onload = function() {
    if (this.status == 200) {
      sent.innerHTML = "Sent! <a href='" + JSON.parse(this.responseText).url +
                       "'>Click here to view.</a>";
    } else if (this.status == 400) {
      sent.innerHTML = glyph + JSON.parse(this.responseText).error;
    } else {
      this.onerror();
    }
  };
  req.onerror = function() {
    sent.innerHTML = glyph + this.responseText;
  }

  sent.innerHTML = "<img src='/static/spinner.gif' width='30' />";
  req.open("post", url);
  req.send();
}
</script>


<div id="connect" class="row">
 <!-- Connect buttons -->
 <div class="col-md-6 col-sm-12">
  <p class="big">Step 1: sign up</p>
 <br />
  <form method="post" name="facebook-start" action="/facebook/start">
   <input type="image" alt="Sign in with Facebook" src="/static/facebook_button.png" />
   <input name="state" type="hidden" value="publish" />
   <!-- https://developers.facebook.com/docs/reference/login/ -->
   <input name="scope" type="hidden"
          value="offline_access,user_website,publish_actions,create_event,rsvp_event" />
  </form>
 <br />
  <form method="post" name="twitter-start" action="/twitter/start">
   <input type="image" alt="Sign in with Twitter" src="/static/twitter_button.png" />
   <input name="state" type="hidden" value="publish" />
  </form>
 </div>

<!--  <form method="post" name="instagram-start" action="/instagram/start"> -->
<!--   <input type="image" alt="Sign in with Instagram" src="/static/instagram_button.png" /> -->
<!--   <input name="state" type="hidden" value="publish" /> -->
<!--   <\!-- http://instagram.com/developer/authentication/#scope -\-> -->
<!--   <input name="scope" type="hidden" value="comments+likes" /> -->
<!-- </form> -->

 <!-- Preview UI -->
 <div class="col-md-6 col-sm-12">
   <p class="big">Step 2: enter an original post URL</p>
  <br />
  <form method="post" name="preview" action="/publish/preview">
   <input id="source-url" name="source" type="text" alt="Source URL"></input>
   <br />
   <button type="submit" name="target" value="http://brid.gy/publish/facebook"
           onclick="do_preview('facebook'); return false;">
     Facebook</button>
   <button type="submit" name="target" value="http://brid.gy/publish/twitter"
           onclick="do_preview('twitter'); return false;">
     Twitter</button>
  </form>
 </div>
</div>

<br />
<div id="preview" class="row"></div>
<br />


<!-- Users -->
<p id="users" class="big row">Users</p>

{# TODO: paging #}
<div id="sources">
{% for source in sources %}

<div id="{{ source.dom_id }}" class="row">
 <div class="col-sm-4">
  {% with "publish" as feature %}
    {% include "source.html" %}
  {% endwith %}

 </div><div class="col-sm-4">
  <a href="{{ source.domain_url }}" class="publish-domain">{{ source.domain }}</a>

 </div><div class="col-sm-4" id="link-publishes-{{ source.dom_id }}">
  <a href="#{{ source.dom_id }}"
     onclick="toggle_ajax('publishes', '{{ source.dom_id }}'); return false;">
    Recently published...
  </a>
 </div>
</div>

<div id="stub-publishes-{{ source.dom_id }}" class="stub-publishes"
     style="display: none">
  <img src="/static/spinner.gif" width="30" /> <!-- filled in via AJAX -->
</div>

{% endfor %}
</div>

{% endblock %}
