<div id="publish-signup" class="signup {{ width }}">
<p class="big">Want to publish?</p>

<!--  <form method="post" name="instagram-start" action="/instagram/start"> -->
<!--   <input type="image" alt="Sign in with Instagram" src="/static/instagram_button_signin.png" /> -->
<!--   <input name="state" type="hidden" value="publish" /> -->
<!--   <\!-- http://instagram.com/developer/authentication/#scope -\-> -->
<!--   <input name="scope" type="hidden" value="comments+likes" /> -->
<!-- </form> -->

</div>
</div>
