<div id="publish-signup" class="signup {{ width }}">
<p class="big">Want to publish?</p>

<div class="row">
<form method="post" name="publish-facebook-start" action="/facebook/start">
 <input type="image" alt="Sign in with Facebook"
        src="/activitystreams/oauth_dropins/static/facebook.png" />
 <input name="state" type="hidden" value="publish" />
 <!-- https://developers.facebook.com/docs/reference/login/ -->
 <input name="scope" type="hidden"
        value="offline_access,user_website,publish_actions,create_event,rsvp_event,user_status,friends_status,user_photos,friends_photos,user_videos,friends_videos,user_events,friends_events,user_likes,friends_likes" />
</form>

<form method="post" name="publish-twitter-start" action="/twitter/start">
 <input type="image" alt="Sign in with Twitter"
        src="/activitystreams/oauth_dropins/static/twitter.png" />
 <input name="state" type="hidden" value="publish" />
</form>

<!--  <form method="post" name="instagram-start" action="/instagram/start"> -->
<!--   <input type="image" alt="Sign in with Instagram" src="/static/instagram_button_signin.png" /> -->
<!--   <input name="state" type="hidden" value="publish" /> -->
<!--   <\!-- http://instagram.com/developer/authentication/#scope -\-> -->
<!--   <input name="scope" type="hidden" value="comments+likes" /> -->
<!-- </form> -->

</div>
</div>
