<ul class="responses">
  {% for response in responses %}
  <li class="row">
   <div class="col-sm-3">
    {% with response.response as r %}
    <a target="_blank" href="{{ r.author.url }}"
       title="{{ r.author.displayName }}">
      <img class="profile" src="{{ r.author.image.url }}" width="32" /></a>
      <a target="_blank" href="{{ r.url }}">
        {{ r.content|default:"--"|striptags|truncatewords:6|safe }}</a>
    {% endwith %}

   </div><div class="col-sm-3">
    {% with response.activity.object as a %}
    {% if response.type == "comment" %} on {% endif %}
    <a target="_blank" href="{{ a.url }}">
      {{ a.content|default:"--"|striptags|truncatewords:6|safe }}</a>
    {% endwith %}

   </div><div class="col-sm-3">
    <a href="/log?start_time={{ response.updated|date:'U' }}&key={{ response.key.urlsafe }}">
      {{ response.updated|timesince }} ago
      {% if response.status == 'error' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if response.status == 'processing' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-3">
    {% for label, links in response.links.items %}
      {{ label }}:
      <ul class="original-post-links">{{ links|safeseq|unordered_list }}</ul>
    {% empty %}
      No post links found
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>
