{% extends "social_user.html" %}

{% block listen-signup %}
{% include "twitter_signup.html" %}
{% endblock %}

{% block edit-profile %}
<a href="https://twitter.com/settings/profile#user_url" target="_blank">
  Edit your Twitter profile</a>,
enter it in the <em>Website</em> field, then click here:
{% include "twitter_signup.html" %}
{% endblock %}

{% block publish-signup %}
<span class="big">Click to enable <a href="/about#publish">publishing</a>:</span>
<form method="post" name="publish-twitter-start" action="/twitter/start" class="signup">
 <input type="image" alt="Sign in with Twitter"
        src="/activitystreams/oauth_dropins/static/twitter.png" />
 <input name="state" type="hidden" value="publish" />
</form>
{% endblock %}
