{% extends "base.html" %}

{% block title %}{{ source.label() }} - Bridgy{% endblock %}

{% block body_class %}user h-card{% endblock %}

{% block content %}

<!-- Header: name and picture -->
<div id="user" class="row big">
{% include "profile_link.html" %}
{% if source.status == "disabled" %}
<!-- TODO: make this work without javascript too -->
<data class="p-bridgy-account-status" value="disabled">
<a href="#" onclick="document.forms['listen-{{ source.SHORT_NAME }}-start'].submit();
                     return false;">
  <span class="glyphicon glyphicon-pause"
        title="This account was disconnected on {{ source.GR_CLASS.NAME or source.key.kind }}'s end. Click to reconnect it!">
</span></a>
</data>
{% else %}
<data class="p-bridgy-account-status" value="enabled" />
{% endif %}

{% for link in source.website_links %}
  {% if loop.index0 == 3 %}
    <span id="more-websites" style="display: none">
  {% endif %}
  &middot;
  {{ link|safe }}
{% endfor %}
{% if source.website_links|length > 3 %}
  </span>
  <a onclick="toggle('more-websites'); toggle('show-more-websites'); return false"
     id="show-more-websites" href="#" />...</a>
{% endif %}

</div>

{% block ui %}
{% endblock %}

{% block recent %}
{% endblock %}

{% endblock %}
