{% extends "base.html" %}

{% block title %}{{ source.label|safe }} - Bridgy{% endblock %}

{% block body_class %} user {% endblock %}

{% block content %}

<!-- JS for embedding Facebook posts and Twitter tweets -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=318683258228687";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Header: name and picture -->
<div id="user" class="row big">
<a target="_blank" href="{{ source.silo_url }}" title="{{ source.label|safe }}">
  <img class="profile" src="{{ source.picture }}" width="64px" />
  <img src="/static/{{ source.SHORT_NAME }}_icon.png"
       alt="{% firstof source.AS_CLASS.NAME source.key.kind %}" />
  {{ source.name|safe }}</a>

{% if source.status == "disabled" %}
<a href="#" onclick="document.forms['listen-{{ source.SHORT_NAME }}-start'].submit();
                     return false;">
  <span class="glyphicon glyphicon-pause"
        title="This account was disconnected on {% firstof source.AS_CLASS.NAME source.key.kind %}'s end. Click to reconnect it!">
</span></a>
{% endif %}

{% if source.domain %}
  (<a href="{{ source.domain_url }}" class="publish-domain">{{ source.domain }}</a>)
{% else %}
<!-- no domain -->
{% endif %}
</div>


<div class="row">

<!-- Publish UI -->
{% if "publish" in source.features and source.status != "disabled" %}
<div id="publish-ui" class="col-sm-6">

<form method="post" action="/delete/start">
<p class="big" id="publishing-label">
 Ready to publish.
   <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
   <input name="feature" type="hidden" value="publish" />
   <button id="delete-button" type="submit" class="btn btn-default"
     title="Disable publishing for this account. (Won't delete posts you've already published.)"
     >Disable</button>
</p>
</form>

<form method="post" name="preview" action="/publish/preview">
<p id="preview-ui">
 <label id="source-label" for="source" class="big">Enter post URL:</label>
 <input id="source-url" name="source" type="text" alt="Source URL"></input>
 <input name="target" type="hidden"
        value="http://brid.gy/publish/{{ source.SHORT_NAME }}"></input>
 <button id="preview-button" type="submit" class="btn btn-default"
         onclick="do_preview('{{ source.SHORT_NAME }}'); return false;"
         >Preview</button>
</p>
</form>
</div>

<!-- Publish signup buttons -->
{% else %}
{% include "publish_signup.html" %}
{% endif %}


<!-- Listen UI -->
{% if "listen" in source.features and source.status != "disabled" %}
<div id="listen-ui" class="col-sm-6 big">
<form method="post" action="/delete/start">
<p id="listening-label">Listening for responses.
  <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
  <input name="feature" type="hidden" value="listen" />
  <button id="delete-button" type="submit" class="btn btn-default"
    title="Disable sending responses for this account. (Won't delete responses you've already received.)"
    >Disable</button>
</p>
</form>

<form method="post" action="/poll-now">
<p>
  {% if source.last_poll_attempt == epoch %}
    Not polled yet.
  {% else %}
    {% if source.status == "error" %}
     <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
    {% endif %}
    Polled
    {% spaceless %}
    <a href="/log?start_time={{ source.last_poll_attempt|date:'U' }}&key={{ source.key.urlsafe }}">
      {{ source.last_poll_attempt|timesince }} ago
    {% endspaceless %}</a>.
  {% endif %}

  <input name="key" type="hidden" value="{{ source.key.urlsafe }}" />
  <button id="poll-now-button" type="submit" class="btn btn-default">Poll now</button>
</p>
</form>
</div>


<!-- Listen signup buttons -->
{% else %}
{% include "listen_signup.html" %}
{% endif %}

</div>


<!-- Publish preview UI -->
<br />
<div id="preview" class="row"></div>


<!-- Responses -->
<div class="row">
{% if "listen" in source.features %}
{% if responses %}
<p id="responses" class="big">Recent responses:</p>
<ul class="user-items">
  {% for response in responses %}
  <li class="row">
   <div class="col-sm-3">
    {% with response.response as r %}
    <a target="_blank" href="{{ response.actor.url }}"
       title="{{ response.actor.displayName }}">
      <img class="profile" src="{{ response.actor.image.url }}" width="32" /></a>
      <a target="_blank" href="{{ r.url }}">
        {{ r.content|default:"--"|striptags|truncatewords:6|safe }}</a>
    {% endwith %}

   </div><div class="col-sm-3">
    {% with response.activity as a %}
    {% if response.type == "comment" %} on {% endif %}
    <a target="_blank" href="{% firstof a.url a.object.url %}">
      {% if a.content %}
        {{ a.content|striptags|truncatewords:6|safe }}
      {% else %}
        {{ a.object.content|default:"--"|striptags|truncatewords:6|safe }}
      {% endif %}
    </a>
    {% endwith %}

   </div><div class="col-sm-3">
    <a href="/log?start_time={{ response.updated|date:'U' }}&key={{ response.key.urlsafe }}">
      {{ response.updated|timesince }} ago
      {% if response.status == 'error' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if response.status == 'processing' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

    {% if response.status == 'error' or response.error %}
    <form method="post" action="/retry-response">
      <input name="key" type="hidden" value="{{ response.key.urlsafe }}" />
      <button id="retry-button" type="submit" class="btn btn-default">
        Retry</button>
    </form>
    {% endif %}

   </div><div class="col-sm-3">
    {% for label, links in response.links.items %}
      {{ label|safe }}:
      <ul class="original-post-links">{{ links|safeseq|unordered_list }}</ul>
    {% empty %}
      No post links found
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No responses yet.</p>
{% endif %}

{% endif %}
</div>


<!-- Publishes -->
<div class="row">
{% if "publish" in source.features %}
{% if publishes %}
<p id="publishes" class="big">Recently published:</p>
<ul class="user-items">
  {% for publish in publishes %}
  <li class="row">
   <div class="col-sm-4">
     {{ publish.pretty_page|safe }}

   </div><div class="col-sm-4">
    <a href="/log?start_time={{ publish.updated|date:'U' }}&key={{ publish.key.urlsafe }}">
      {{ publish.updated|timesince }} ago
      {% if publish.status == 'failed' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if publish.status == 'new' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-4">
     {% if publish.published.url %}
       <a href="{{ publish.published.url }}">
     {% endif %}
     {% firstof publish.type_label publish.type %}
     {% if publish.published.url %}
       </a>
     {% endif %}

   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">Nothing published yet.</p>
{% endif %}
{% endif %}
</div>


<!-- Blog posts -->
<div class="row">
{% if "webmention" in source.features %}
{% if blogposts %}
<p id="blogposts" class="big">Recent blog posts:</p>
<ul class="user-items">
  {% for blogpost in blogposts %}
  <li class="row">
   <div class="col-sm-4">
    {{ blogpost.pretty_url|safe }}

   </div><div class="col-sm-4">
    <a href="/log?start_time={{ blogpost.updated|date:'U' }}&key={{ blogpost.key.urlsafe }}">
      {{ blogpost.updated|timesince }} ago
      {% if blogpost.status == 'error' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if blogpost.status == 'processing' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

    {% if blogpost.status == 'error' or blogpost.error %}
    <form method="post" action="/retry-blogpost">
      <input name="key" type="hidden" value="{{ blogpost.key.urlsafe }}" />
      <button id="retry-button" type="submit" class="btn btn-default">
        Retry</button>
    </form>
    {% endif %}

   </div><div class="col-sm-4">
    {% for label, links in blogpost.links.items %}
      {{ label|safe }}:
      <ul class="original-post-links">{{ links|safeseq|unordered_list }}</ul>
    {% empty %}
      No links found
    {% endfor %}
   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No blog posts yet.</p>
{% endif %}

{% endif %}
</div>


<!-- Incoming blog webmentions -->
<div class="row">
{% if "webmention" in source.features %}
{% if webmentions %}
<p id="webmentions" class="big">Recent
  <a href="http://indiewebify.me/#send-webmentions">webmentions</a>:</p>
<ul class="user-items">
  {% for wm in webmentions %}
  <li class="row">
   <div class="col-sm-3">
     {{ wm.pretty_source|safe }}

   </div><div class="col-sm-3">
     {{ wm.pretty_target|safe }}

   </div><div class="col-sm-3">
    <a href="/log?start_time={{ wm.updated|date:'U' }}&key={{ wm.key.urlsafe }}">
      {{ wm.updated|timesince }} ago
      {% if wm.status == 'failed' %}
       <span title="Error" class="glyphicon glyphicon-exclamation-sign"></span>
      {% else %}{% if wm.status == 'new' %}
       <span title="Processing" class="glyphicon glyphicon-transfer"></span>
      {% endif %}{% endif %}
    </a>

   </div><div class="col-sm-3">
     {% if wm.published.url %}
       <a href="{{ wm.published.url }}">
     {% endif %}
       {{ wm.type }}
     {% if wm.published.url %}
       </a>
     {% endif %}

   </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p class="big">No
  <a href="http://indiewebify.me/#send-webmentions">webmentions</a> received yet.</p>
{% endif %}
{% endif %}
</div>

{% endblock %}
