{% extends "base.html" %}

{% block title %}Users - Bridgy{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<p id="users-label" class="row big">Users</p>

<p id="users-index" class="row">
{% for letter in string.ascii_uppercase %}
  <a href="?start_name={{ letter }}">{{ letter }}</a>
{% endfor %}
</p>

<ul id="users">
<li class="row">
{% for source in sources %}
  <div class="source col-xs-6 col-sm-4 col-md-3">
    {% with link = source.bridgy_path(), picture_width = 48 %}
      {% include "profile_link.html" %}
    {% endwith %}
  </div>
  {% if loop.index % 4 == 0 and not loop.last %}</li><li class"'row">{% endif %}
{% endfor %}
</li>
</ul>

<p id="users-paging" class="row">
  {% if sources|length >= PAGE_SIZE %}
    {% set last = sources[-1] %}
    <a href="?start_name={{ last.name|capitalize }}">Next »</a>
  {% endif %}
</p>

{% endblock %}
