{% extends "base.html" %}

{% block title %}Users - Bridgy{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<p id="users-label" class="row big">Users</p>

<ul id="users">
<li class="row">
{% with compact as True %}
{% for source in sources %}
  <div class="source col-xs-6 col-sm-4 col-md-3">
    <a href="{{ source.bridgy_path }}" title="{{ source.label|safe }}"
       class="h-card">
      <img class="profile u-photo" width="48px" src="{{ source.picture }}"/>
      <img src="/static/{{ source.SHORT_NAME }}_icon.png" width="24" />
      {{ source.name|safe }}</a>
  </div>
  {% cycle "" "" "" "</li><li class='row'>" %}
{% endfor %}
{% endwith %}
</li>
</ul>

<p id="users-paging" class="row">
  {% if sources|length >= PAGE_SIZE %}
    {% with sources|last as last %}
      <a href="?start_name={{ last.name|capfirst }}">Next »</a>
    {% endwith %}
  {% endif %}
</p>

{% endblock %}
