{% extends "blog_user.html" %}

{% block undiscovered %}
<p>Next step: <a target="_blank" href="{{ source.edit_template_url() }}">click
    here to edit your blog's widgets</a>, add a Text Widget, and put this in
    the text section:</p>
<pre>&lt;a rel="webmention" href="https://brid.gy/webmention/wordpress"&gt;-&lt;/a&gt;</pre>
<!-- <a href="http://en.support.wordpress.com/widgets/text-widget/">More details.</a> -->
{% endblock %}

{% block blog_signup %}
{% include "wordpress_signup.html" %}
{% endblock %}
