oauth-dropins>=1.8
gdata>=2.0.18
google-api-python-client>=1.6.3
granary>=1.8
beautifulsoup4
humanize
jinja2>=2.10.0
mf2py>=1.0.4
mf2util>=0.5.0
oauth2client
requests>=2.10.0
requests-toolbelt>=0.6.2
-e git+https://github.com/snarfed/webmention-tools.git#egg=webmentiontools
urllib3>=1.14
appengine-sdk>=1.9.40.post0
